### Pandas prestanda optimering

In [27]:
import numpy as np
import pandas as pd

nrows, ncols = 10000, 100

df1, df2, df3, df4 = [pd.DataFrame(np.random.randn(nrows, ncols)) for _ in range(4)]

In [28]:
%timeit sum_plain = df1+df2+df3+df4
sum_plain = df1 + df2 +df3 + df4

15 ms ± 237 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [29]:
%timeit sum_eval = pd.eval("df1+df2+df3+df4") # Finns en säkerhets riska att köra eval på strängar som kommer utifrån 
sum_eval = pd.eval("df1 + df2 + df3 + df4")

17.1 ms ± 2.36 ms per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [30]:
rolls = pd.DataFrame(np.random.randint(1, 6, (6, 4)), columns=["die1", "die2", "die3", "die4"])
rolls.eval("Sum = die1 + die2 + die3 + die4", inplace= True)

rolls

   die1  die2  die3  die4  Sum
0     1     5     5     3   14
1     5     1     3     3   12
2     1     1     1     5    8
3     1     5     3     5   14
4     1     2     1     4    8
5     4     2     4     1   11

In [31]:
high = 10
rolls.eval("High = Sum > @high", inplace= True)

rolls

   die1  die2  die3  die4  Sum   High
0     1     5     5     3   14   True
1     5     1     3     3   12   True
2     1     1     1     5    8  False
3     1     5     3     5   14   True
4     1     2     1     4    8  False
5     4     2     4     1   11   True

In [32]:
low = 10 
small = rolls[rolls["Sum"]< low]
small

   die1  die2  die3  die4  Sum   High
2     1     1     1     5    8  False
4     1     2     1     4    8  False

In [33]:
small_query = rolls.query("Sum < @low")
small_query

   die1  die2  die3  die4  Sum   High
2     1     1     1     5    8  False
4     1     2     1     4    8  False

In [38]:
os = pd.read_csv("../Data/athlete_events.csv")

os["Season"]

0         Summer
1         Summer
2         Summer
3         Summer
4         Winter
           ...
271111    Winter
271112    Winter
271113    Winter
271114    Winter
271115    Winter
Name: Season, Length: 271116, dtype: object

In [43]:
%timeit os[os["Season"]=="Winter"]
%timeit os.query("Season == 'Winter'")

plain = os[os["Season"]=="Winter"]

query = os.query("Season == 'Winter'")

plain.equals(query)

33.3 ms ± 640 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)
28.9 ms ± 357 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

True

In [ ]:
%timeit os[(os["Sex"]=="F") & (os["Height"] > 180) & (os["NOC"] == "SWE")]
%timeit os.query("Sex == 'F' & Height > 180 & NOC == 'SWE'")

plain = os[(os["Sex"]=="F") & (os["Height"] > 180) & (os["NOC"] == "SWE")]
query = os.query("Sex == 'F' & Height > 180 & NOC == 'SWE'")

plain.equals(query)

37.7 ms ± 1.13 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)
18.5 ms ± 208 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

True