### Svar uppgifter för Exercises 02

In [ ]:
import pandas as pd 

list_of_tables = pd.read_html("https://sv.wikipedia.org/wiki/Sveriges_demografi")

befolknings_data = pd.DataFrame(list_of_tables[6])
befolknings_data.rename({"Unnamed: 0": "År"}, axis=1, inplace=True)
befolknings_data.set_index("År", inplace=True)
befolknings_data

,Medel- folkmängd,Födda,Döda,Naturlig befolknings- förändring,Nativitet (per 1000),Dödstal (per 1000),Naturlig befolknings- förändring (per 1000),Total fertilitet
År,,,,,,,,
1900,5 117 000,138 139,86 146,51 993,270.0,168.0,102.0,402.0
1901,5 156 000,139 370,82 772,56 598,270.0,161.0,110.0,404.0
1902,5 187 000,137 364,79 722,57 642,265.0,154.0,111.0,395.0
1903,5 210 000,133 896,78 610,55 286,257.0,151.0,106.0,382.0
1904,5 241 000,134 952,80 152,54 800,257.0,153.0,105.0,383.0
...,...,...,...,...,...,...,...,...
2018,"10 175 213,5",115 832,92 185,23 647,113.0,90.0,23.0,175.0
2019,"10 278 887,0",114 523,88 766,28 727,111.0,87.0,24.0,170.0
2020,"10 353 442,0",113 077,98 124,14 953,109.0,95.0,14.0,166.0
2021,"10 415 810,5",114 263,91 958,22 305,110.0,88.0,22.0,NaN
2022,"10 521 556,0",104 734,94 737,9 997,NaN,NaN,NaN,NaN