In [99]:
from FetchOSData import OsDataFetcher
import pandas as pd
import plotly_express as px 
os_data = OsDataFetcher("../Projekt-OS/Data/athlete_events.csv", "Name")
os_data.data.columns

Index(['ID', 'Hash values', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC',
       'Games', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [100]:
swimming = os_data.os_filtered_dataframe("NOC", "ITA")

swimming.set_index("Year", inplace=True)

swimming = swimming.loc[1906].sort_values("Medal")

swimming = swimming[swimming['Medal'].notna()]
swimming.value_counts("Medal")

Medal
Bronze    27
Gold      21
Silver     8
Name: count, dtype: int64

In [101]:
sports = ["Swimming", "Alpine Skiing", "Rowing", "Cross Country Skiing"]
sex = {"Female": "F", "Male": "M"}
medals = ["Gold", "Silver", "Bronze"]
dff = os_data.os_filtered_dataframe("Sport", "Swimming")


titels = {"Female": "F", "Male": "M", "Gold":"Gold", "Silver":"Silver", "Bronze": "Bronze", 
           "Swimming": "Swimming", "Alpine Skiing": "Alpine Skiing", "Rowing": "Rowing", 
           "Cross Country Skiing": "Cross Country Skiing"}
dff.columns

Index(['ID', 'Hash values', 'Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC',
       'Games', 'Year', 'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [102]:
# medal_counter
madal_count = dff.groupby("Age")["Medal"].count().reset_index()
madal_count.columns = ["Age", "Medal Count"]

In [103]:
def medal_counter(pick, filter, count_in):
    """Show how the medals spread over the ages in the sport

    param pick: are sport or country
    param filter: Wich sport or country
    param count_in: For wich columne to count medals
    """
    dff = os_data.os_filtered_dataframe(pick, filter)
    madal_count = dff.groupby(count_in)["Medal"].count().reset_index()
    madal_count.columns = [count_in, "Medal Count"]
    
    pass

In [122]:
#def avreges_for():
import numpy as np
dff = os_data.os_filtered_dataframe("Sport", "Swimming")
gold_medal = dff[dff["Medal"] == "Gold"].groupby(["Year", "Sex"]).size()
silver_medal = dff[dff["Medal"] == "Silver"].groupby(["Year", "Sex"]).size()
bronze_medal = dff[dff["Medal"] == "Bronze"].groupby(["Year", "Sex"]).size()


medal_count = pd.DataFrame({"Sport":"Swimming",
                            "Gold": gold_medal,
                            "Silver": silver_medal,
                            "Bronze": bronze_medal,
                            "Total": gold_medal + silver_medal + bronze_medal
                            }).fillna(0).reset_index()
medal_count[["Gold", "Silver", "Bronze", "Total"]]  = medal_count[["Gold", "Silver", "Bronze", "Total"]].astype(np.int64)



# def show_graf(data, cat, graf):
#     if graf == "bar":
#         fig = px.bar(data, x=data.index, y= cat, barmode= "stack")
#     if graf == "line":    
#         fig = px.line(data, x=data.index, y= cat)
#     if graf == "histo":
#         fig = px.histogram(data, x=data.index, y= cat, nbins = 14)
#     return fig
# show_graf(medal_count, medals, "bar")

In [123]:
# def avreges ():
medal_count


avg_medals = (
        medal_count.groupby("Sex")["Total"].median()
        .reset_index()
        .rename(columns={"Total": "Average Medals"})
    )
avg_medals

  Sex  Average Medals
0   F            64.0
1   M            55.0

In [124]:
# def avreges ():
medal_count.drop([0, 1, 2, 3, 4, 5], inplace=True)


avg_medals = (
        medal_count.groupby("Sex")["Total"].median()
        .reset_index()
        .rename(columns={"Total": "Average Medals"})
    )
avg_medals

  Sex  Average Medals
0   F            65.0
1   M            68.0